title: "Looking Glass API"

resolve_traceroute_hops: all

environment: devel
log_level: debug
root_path: "/"

limits:
  max_sources:
    ping: 3
    bgp: 3
  max_destinations:
    ping: 5
    bgp: 5

authentication:
  groups:
    core:
      username: user1
      password: password234
    access:
      username: user2
      password: password12
    fallback:
      username: user3
      password: pass9876

# Cache configuration
cache:
  enabled: false
  commands:
    enabled: false
    ttl: 60
  redis:
    dsn: redis://localhost:6379/
    namespace: lgapi
    timeout: 5

locations:
  AMS:
    name: Amsterdam
    region: Western Europe
    device: router.ams.example.net
    authentication: core
    type: cisco_iosxr
    source:
      ipv4: loopback999
      ipv6: loopback999
  BCN:
    name: Barcelona
    region: Western Europe
    device: router.bcn.example.net
    authentication: access
    type: cisco_iosxr
    source:
      ipv4: loopback999
      ipv6: loopback999
  PAR:
    name: Paris
    region: Western Europe
    device: router.par.example.net
    authentication: core
    type: juniper_junos
    source:
      ipv4: 10.1.2.11
      ipv6: 62bd:9ded:9ddd:6bed:9f79:0aee:11f2:8e2e

commands:
  ping:
    cisco_iosxr:
      ipv4: ping IPADDRESS source SOURCE
      ipv6: ping IPADDRESS source SOURCE
    juniper_junos:
      ipv4: ping IPADDRESS source SOURCE count 5
      ipv6: ping IPADDRESS source SOURCE count 5
  bgp:
    cisco_iosxr:
      ipv4: show bgp ipv4 unicast IPADDRESS
      ipv6: show bgp ipv6 unicast IPADDRESS
    juniper_junos:
      ipv4: show route IPADDRESS protocol bgp detail
      ipv6: show route IPADDRESS protocol bgp detail
  traceroute:
    cisco_iosxr:
      ipv4: traceroute IPADDRESS source SOURCE timeout 2
      ipv6: traceroute IPADDRESS source SOURCE timeout 2
    juniper_junos:
      ipv4: traceroute IPADDRESS source SOURCE
      ipv6: traceroute IPADDRESS source SOURCE
