# Used by systemd
PORT=8013
LISTEN=127.0.0.1
ROOT_PATH=/
WORKERS=4

TITLE='Looking Glass API'

ENVIRONMENT=prod
LOG_LEVEL=info
LOG_DIR=/var/log/lg/


# Used in the looking glass API
USERNAME=user
PASSWORD=password

CONFIG_FILE=config.yml

PING_MULTI_MAX_SOURCE=3
PING_MULTI_MAX_IP=5

BGP_MULTI_MAX_SOURCE=3
BGP_MULTI_MAX_IP=5

# Set to ignore, missing or all
RESOLVE_TRACEROUTE_HOPS=off

# Set to true to use redis as a cache otherwise memory
USE_REDIS_CACHE=False

# Redis configuration if using redis cache
REDIS_HOST="127.0.0.1"
REDIS_PORT=6379
REDIS_TIMEOUT=5
#REDIS_PASSWORD=password
REDIS_NAMESPACE=lgapi